<h2><%= @user.name %></h2> - Completed Tasks

<% if flash[:message] %>
  <h6><%= flash[:message] %></h3>
<% end %>

<% @tasks.each do |task| %>
    <p><a href="/tasks/<%= task.id %>"><%= task.name %></a> (updated <%= task.updated_at.strftime("%m/%d") %>)</p>
<% end %>