<h2><%= @user.name %></h2>

<% @user.tasks.each do |task| %>
  <h3><%= task.name %> (<a href="/tasks/<%= task.id %>/edit">Edit</a>)</h3> 
    <h5>Category: <%= task.category %> |
      Size: <%= task.size %> |
      Due Date: 
        <% if task.due_date != "" %>
          <%= task.due_date %>
        <% else %>
          none
        <% end %> |
      Do Date:
        <% if task.do_date != "" %>
          <%= task.do_date %>
        <% else %>
          none
        <% end %></h5>
      <% task.notes.each do |note|%>
        - <%= note.content %><br>
        <% end %>
    <% end %>